<!-- <button (click)="fetchStockPrice()">Fetch Stock Price</button>
<p>Stock Price: {{ stockPrice }}</p> -->


<!-- <h2>Stock Price: {{ latestPrice }}</h2>
<h4>Number of Subscribers: {{ noOfSubscribers }}</h4>

<button (click)="subscribeAndUpdatePlus()" >Subscribe to Stock Price</button>
<button (click)="subscribeAndUpdateMinus()">Unsubscribe to Stock Price</button> -->

<!-- <input type="text" placeholder="Search" id="search"> -->


<!-- <button id="clickButton">Click Me</button> -->

<input type="text" id="search">